#footer{
    background-color: grey;
}
#cardHolder1:hover{
    background-color: rgb(54, 136, 184);
}
#cardHolder2:hover{
    background-color: rgb(54, 136, 184);
}
#cardHolder3:hover{
    background-color: rgb(54, 136, 184);
}

